@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\000036}}
a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: #000;
  outline: none; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\0000312}}
  html, body {
    width: 100%;
    height: 100%;
    font-family: sans-serif; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\0000318}}
    body {
      display: box;
      box-orient: vertical;
      font-size: 12px;
      background: #eee; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\0000324}}
      body > header {
        border-bottom: 1px solid #ccc; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\0000327}}
        body > header > h1 {
          float: left;
          font-size: 20px;
          font-weight: bold;
          padding: 6px 6px 6px 35px;
          background: url(/static/images/icon_32x32.png) no-repeat 1px 1px; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\0000334}}
          body > header > h1 a {
            text-shadow: 0 1px 0 #fff;
            transition: all 0.1s ease 0s; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\0000338}}
            body > header > h1 a:hover {
              color: #666; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\0000344}}
        body > header > nav.app {
          float: right;
          border-left: 1px solid #ccc; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\0000349}}
          body > header > nav.app > ul > li {
            display: block;
            float: left;
            border-left: 1px solid #fff;
            border-right: 1px solid #ccc; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\0000354}}
            body > header > nav.app > ul > li input {
              margin: 6px;
              width: 300px; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\0000358}}
              body > header > nav.app > ul > li a {
                display: block;
                padding: 10px;
                text-decoration: none;
                text-shadow: 0 1px 0 white;
                background: linear-gradient(#f4f4f4, #ececec), #ececec;
                color: #666;
                text-shadow: 1px 1px 0 #fff;
                text-decoration: none; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\0000367}}
                body > header > nav.app > ul > li a:hover,
                body > header > nav.app > ul > li a:focus {
                  background: linear-gradient(#eee, #ddd), #ddd;
                  color: #333;
                  text-decoration: none; }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\0000372}}
                  body > header > nav.app > ul > li a:active {
                    background: linear-gradient(#ddd, #eee), #eee;
                    color: #333;
                    text-decoration: none;
                    text-shadow: -1px -1px 0 #eee; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\0000380}}
            body > header > nav.app > ul > li.notifications {
              display: none; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\0000383}}
              body > header > nav.app > ul > li.pagination {
                width: 100px;
                text-align: center;
                font-style: italic; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\0000393}}
      body > nav.messages {
        height: 9.08333em;
        min-height: 3.08333em;
        position: relative;
        overflow: auto;
        border-top: 1px solid #fff;
        background: #fff;
        width: 100%; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003102}}
        body > nav.messages > table {
          width: 100%; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003105}}
          body > nav.messages > table > thead > tr {
            background: #eee;
            color: #333; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003108}}
            body > nav.messages > table > thead > tr > th {
              padding: 0.25em;
              font-weight: bold;
              text-shadow: 0 1px 0 #fff;
              text-align: left; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003116}}
          body > nav.messages > table > tbody > tr {
            cursor: pointer;
            height: 1em;
            transition: all 0.1s ease 0s;
            color: #333;
            background: #fff; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003123}}
            body > nav.messages > table > tbody > tr:hover {
              color: #000; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003126}}
              body > nav.messages > table > tbody > tr:nth-child(even) {
                background: #f0f0f0; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003129}}
                body > nav.messages > table > tbody > tr.selected {
                  background: Highlight;
                  color: HighlightText; }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003133}}
                  body > nav.messages > table > tbody > tr.deleted {
                    text-decoration: line-through; }
                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003137}}
                    body > nav.messages > table > tbody > tr td {
                      padding: 0.25em; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003144}}
      body .resizer {
        padding-bottom: 5px;
        cursor: ns-resize; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003147}}
        body .resizer > .ruler {
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #fff; }
      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003153}}
      body > article {
        display: box;
        box-orient: vertical;
        box-flex: 1; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003158}}
        body > article > aside.no-message-mark {
          display: none; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003163}}
          body > article.no-message > *, body > article.loading-message > * {
            display: none !important; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003167}}
            body > article.no-message > aside.no-message-mark,
            body > article.loading-message > aside.no-message-mark {
              display: box !important;
              box-pack: center;
              box-align: center;
              box-flex: 1;
              font-size: 64px;
              font-weight: bold;
              user-select: none;
              cursor: default;
              color: rgba(255, 255, 255, 0.5);
              text-shadow: rgba(170, 170, 170, 0.5) 1px 1px 1px; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003179}}
              body > article.no-message > aside.no-message-mark > div,
              body > article.loading-message > aside.no-message-mark > div {
                display: none; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003185}}
        body > article.no-message div.no-message {
          display: block !important; }
          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003189}}
          body > article.loading-message div.loading-message {
            display: block !important; }
            @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003193}}
            body > article > header {
              overflow: hidden;
              *zoom: 1; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003195}}
              body > article > header > dl.meta {
                overflow: hidden;
                *zoom: 1;
                padding: 0 0.5em 0.5em; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003198}}
                body > article > header > dl.meta dt, body > article > header > dl.meta dd {
                  padding: 0.25em;
                  white-space: nowrap; }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003202}}
                  body > article > header > dl.meta dt {
                    float: left;
                    clear: left;
                    width: 8em;
                    margin-right: 0.5em;
                    text-align: right;
                    font-weight: bold;
                    color: #666;
                    text-shadow: 0 1px 0 #fff; }
                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003212}}
                    body > article > header > dl.meta dd.subject {
                      font-weight: bold; }
                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003216}}
                      body > article > header > dl.meta .attachments > ul {
                        display: inline; }
                        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003218}}
                        body > article > header > dl.meta .attachments > ul > li {
                          display: inline-block;
                          margin-right: 0.5em; }
                          @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003221}}
                          body > article > header > dl.meta .attachments > ul > li > a {
                            color: #00e; }
              @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003229}}
              body > article > header > nav.views > ul {
                padding: 0 0.5em;
                border-bottom: 1px solid #ccc; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003233}}
                body > article > header > nav.views > ul > li.tab {
                  display: inline-block; }
                  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003235}}
                  body > article > header > nav.views > ul > li.tab > a {
                    display: inline-block;
                    padding: 0.5em;
                    border: 1px solid #ccc;
                    background: #ddd;
                    color: #333;
                    border-width: 1px 1px 0 1px;
                    cursor: pointer;
                    text-shadow: 0 1px 0 #eee; }
                    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003245}}
                    body > article > header > nav.views > ul > li.tab:not(.selected:hover) > a {
                      background: #eee; }
                      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003248}}
                      body > article > header > nav.views > ul > li.tab.selected > a {
                        background: #fff;
                        color: #000;
                        height: 13px;
                        box-shadow: 1px 1px 0 #ccc;
                        margin-bottom: -2px; }
                @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003257}}
                body > article > header > nav.views > ul > li.action {
                  display: inline-block;
                  float: right;
                  margin: 0 0.25em; }
        @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003266}}
        body > article > iframe.body {
          display: box;
          box-flex: 1;
          background: #fff;
          width: 100%;
          height: 100vh; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003276}}
.button {
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: linear-gradient(#f4f4f4, #ececec), #ececec;
  color: #666 !important;
  text-shadow: 1px 1px 0 #fff;
  text-decoration: none; }
  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003284}}
  .button:hover, .button:focus {
    border-color: #999;
    border-bottom-color: #666;
    background: linear-gradient(#eee, #ddd), #ddd;
    color: #333 !important;
    text-decoration: none; }
    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003291}}
    .button:active {
      border-color: #666;
      border-bottom-color: #999;
      background: linear-gradient(#ddd, #eee), #eee;
      color: #333 !important;
      text-decoration: none;
      text-shadow: -1px -1px 0 #eee; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003301}}
.hidden {
  display: none; }

  @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003305}}
  .no-close .ui-dialog-titlebar-close {
    display: none; }

    @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003309}}
    .ui-widget {
      font-size: 1em;
      line-height: 1.1em; }

      @media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mysz\/Projects\/sendria\/sendria\/static\/css\/sendria\.scss}line{font-family:\00003314}}
      p + p {
        margin-top: 1em; }
